<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" href="/static/style.css">

        <script type="text/javascript"> 
           
        </script>
    </head>

    <body>
        <h1>Document</h1>
        <div id="topic_model">
            {{doc}}
        </div>
        <br>
        <br>
        
        <div>
            <h2>Document Content</h2>
            {{contentView}}
        </div>

    </body>


        
</html>