<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" href="/static/style.css">

        <script type="text/javascript"> 
           
        </script>
    </head>

    <body>
        <h1>Topic Model</h1>
        <div id="topic_model">
            {{t}}
        </div>
        <div>
            {% for x in range(10) %}
                <a href="{{ url_for('one_topic', id = x) }}">Topic {{x}}</a>
                <img src="{{ url_for('static', filename='images/red.png') }}" height="10" width="{{t3[x][0][1]*100}}%">
                <img src="{{ url_for('static', filename='images/green.png') }}" height="10" width="{{t3[x][1][1]*100}}%">
                <img src="{{ url_for('static', filename='images/blue.png') }}" height="10" width="{{t3[x][2][1]*100}}%"><br>

                <span style="color: red;">{{ t3words[x][0] }}</span>
                <span style="color: green;">{{ t3words[x][1] }}</span>
                <span style="color: blue;">{{ t3words[x][2] }}</span>
                <br>
                <hr>
            {% endfor %}
            
        </div>
        <div>
            {% for x in range(count) %}
                <a href="{{ url_for('get_one_document', id=x)}}">Document: {{names[x]}} </a>
                <img src="{{ url_for('static', filename='images/red.png') }}" height="10" width="{{t3Doc[x][0][1]*30}}%">
                <img src="{{ url_for('static', filename='images/green.png') }}" height="10" width="{{t3Doc[x][1][1]*30}}%">
                <img src="{{ url_for('static', filename='images/blue.png') }}" height="10" width="{{t3Doc[x][2][1]*30}}%"><br>
                <span style="color: red;">{{ docTopics[x][0] }}</span>
                <span style="color: green;">{{ docTopics[x][1] }}</span>
                <span style="color: blue;">{{ docTopics[x][2] }}</span>
                <br>
                <hr>
                
            {% endfor %}
            <a href="{{ url_for('get_documents') }}">View Documents</a>
        </div>

        {{top_img}}
        {{doc_img}}
    </body>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <form action="{{ url_for("text")}}" method = "post">
        <label for="doc_id">Document ID: </label>
        <input type="text" id = "doc_id" name="d_id">
        <label for="top_id">Topic Index: </label>
        <input type="text" id = "top_id" name="t_id" placeholder="0-9">
        <button type="submit">Submit</button>

</html>